include ./inc/header.jade
	body
		header.home-header
			.container
				h1 Jarvis
				h2 The Home Automation System
		section.home-content
			.container
				h2 Choose a system:
				.home-button-list
					a.home-button-item(href="/lights")
						i.fa.fa-lightbulb-o
						| Lights
					a.home-button-item(href="/garage")
						i.fa.fa-home
						| Garage
					a.home-button-item(href="/sensors")
						i.fa.fa-dashboard
						| Sensors
					a.home-button-item(href="/settings")
						i.fa.fa-cog
						| Settings		
		
include ./inc/footer.jade