include ./inc/header.jade
	body(ng-controller="lightsController")
		include ./inc/internal-head.jade
		section.internal-content
			.container
				h2 Available Lights:
				
				div.panel.panel-default
					div.panel-heading Light Groups
					table.table.table-striped
						tr(ng-repeat="light in lights")
							td.switchLabel {{light.name}}
							td
								a.switchButton(href="/lights/lightSwitch/{{light.id}}", ng-class="{active: {{light.status}} == true}")
									i.fa.fa-power-off
		
include ./inc/footer.jade