include ./inc/header.jade
	body
		include ./inc/internal-head.jade
		section.internal-content
			.container
				h2 Available Lights:
				
				div.panel.panel-default
					div.panel-heading Light Groups
					table.table.table-striped
						tr
							td.switchLabel Living Room
							td
								a.switchButton(href="/lights/livingRoom")
									i.fa.fa-power-off
						tr
							td.switchLabel Dining Room
							td
								a.switchButton.active(href="/lights/diningRoom")
									i.fa.fa-power-off
						tr
							td.switchLabel Kitchen
							td
								a.switchButton(href="/lights/kitchen")
									i.fa.fa-power-off
						tr
							td.switchLabel Bedroom 1
							td
								a.switchButton(href="/lights/bedroom1")
									i.fa.fa-power-off
						tr
							td.switchLabel Bedroom 2
							td
								a.switchButton.active(href="/lights/bedroom2")
									i.fa.fa-power-off
						tr
							td.switchLabel Bathroom 1
							td
								a.switchButton(href="/lights/bathroom1")
									i.fa.fa-power-off
						tr
							td.switchLabel Bathroom 2
							td
								a.switchButton(href="/lights/bathroom2")
									i.fa.fa-power-off
		
include ./inc/footer.jade