include ./inc/header.jade
	body
		include ./inc/internal-head.jade
		section.internal-content
			.container
				h2 Sensor Controls
				p This feature is currently under development.
				
include ./inc/footer.jade