include ./inc/header.jade
	body
		include ./inc/internal-head.jade
		section.internal-content
			.container
				.page-header
					h2 Setting Controls
				.col-md-6
					.panel.panel-default
						.panel-heading 
							h3.panel-title Add A New Light
						.panel-body(ng-controller="lightForm")
							form(role="form")
								.form-group
									label(for="id") Light ID
									input.form-control(name="id", id="id", placeholder="ID (no spaces)", ng-model="light.id", value="light.id")
								.form-group
									label(for="name") Light Name
									input.form-control(name="name", id="name", placeholder="Light Name (informal)", ng-model="light.name", value="light.name")
								.form-group
									label(for="pin") Pin Number
									input.form-control(name="pin", id="pin", placeholder="Pin Number (integer)", ng-model="light.pin", value="light.pin")
								.form-group
									label(for="status") Status
									select.form-control(name="status", id="status", ng-model="light.status", value="light.status")
										option(value="false") False
										option(value="true") True
								.form-group
									button.btn.btn-primary(type="button", name="Submit", value="Submit", ng-click="lightFormPost(light)") Submit
				.col-md-6
					.panel.panel-default
						.panel-heading 
							h3.panel-title Add A Sensor
						.panel-body(ng-controller="sensorForm")
							form(role="form")
								.form-group
									label(for="id") Sensor ID
									input.form-control(name="id", id="id", placeholder="ID (no spaces)")
								.form-group
									label(for="name") Sensor Name
									input.form-control(name="name", id="name", placeholder="Light Name (informal)")
								.form-group
									label(for="pin") Pin Number
									input.form-control(name="pin", id="pin", placeholder="Pin Number (integer)")
								.form-group
									button.btn.btn-primary(type="button", name="Submit", value="Submit") Submit


				
include ./inc/footer.jade