.home-header {
	padding:20px 0;
	border-bottom:3px solid #ccc;
	background: #f3f3f3;
	h1, h2 {
		text-align: center;
		margin:0;
	}
}

.home-content {
	padding-top:20px;

	h2 {
		text-align: center;
	}
}
	.home-button-item {
		@include radial-gradient(circle at 50% 50%, #f5f5f5 10%, #f0f0f0 30%, #e3e3e3);
		border: 1px solid #ccc;
		border-radius:5px;
		color:#888;
		float:left;
		margin:20px 2%;
		padding: 20px;
		text-align: center;
		width:46%;

		@include bp(twelve-column) {
			width:23%;
			margin: 20px 1%;
		}
		&:hover {
			@include radial-gradient(circle at 50% 50%, #dfdffd 10%, #dadaf8 30%, #c0c0f8);
			border: 1px solid #ccc;
		}

		.fa {
			font-size: 40px;
			padding:0 0 10px;
			text-align: center;
			clear:both;
			display: block;
		}

	}