.internal-header-small {
	border-bottom: 3px solid #ccc;
	text-align: center;
	$line-height:80px;
	h1 {
		margin:0;
		line-height: $line-height;
	}
	.fa {
		font-size: 36px;
		line-height: $line-height;
	}
}
.internal-header {
	border-bottom: 3px solid #ccc;
	padding-bottom: 15px;
}
.internal-header-nav {
	float:right;
	padding: 32px 0 0;

	li {
		display: inline;
		float:left;

		a {
			font-size: 20px;
			padding: 0 15px;
			color:#7F8C8D;

			&:hover {
				color:#428bca;
			}
		}
	}
}

.internal-menu {
	display: none;
	ul {
		list-style: none;
		margin:0;padding:0
	}
		li {
			border-bottom:1px solid #ccc;
			&:hover {
				background: #dedede;
			}
		}
			a {
				display: block;
				font-size: 20px;
				padding:10px 0 10px 20px;

			}
}

.internal-content {}
	
	.table .switchLabel {
		font-size: 22px;
		line-height: 60px;
		padding-left:15px;
	}
	.switchButton {
		float:right;
		font-size: 35px;
		line-height: 60px;
		padding:0 15px;
		color:#c00;
		
		&:hover {
			color:#f00
		}

		&.active {
			color:#0c0;

			&:hover {
				color:#00da00;
			}
		}
	}